<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olist Project :: MegaHack 2.0</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta name="robots" content="noindex,follow" />

</head>

<body>
    <main class="container">
        <div class="row">
            <div class="col pt-5">
                <div class="card">
                    <div class="card-header">
                        Cadastrar Produto
                    </div>
                    <div class="card-body">
                        <form action="#">
                            <div class="form-group">
                                <label for="title">Título</label>
                                <input type="text" class="form-control" id="title" placeholder="Informe o Titulo aqui">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <textarea class="form-control" id="description" rows="3"></textarea>
                            </div>
                            <hr>
                            <div class="form-group div-images">
                                <label for="images">Enviar Imagens</label>
                                <input onchange="readURL(this);" accept="image/jpeg, image/png" type="file" title="Escolher Imagens" multiple name="images[]" id="images">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="category">Categoria</label>
                                <select class="form-control" name="category" id="category">
                                    <option value="smatphone">Smartphone</option>
                                    <option value="ropas">Roupas</option>
                                </select>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="caracteristics">Características</label>
                                <input type="button" class="add-row" value="Adicionar">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Atributo</th>
                                            <th>Valor</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input class="form-control" type="text" readonly value="Marca"></td>
                                            <td><input class="form-control" type="text" name="marca" id="marca"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="tam-prod">Medidas do Produto</label>
                                <div class="row">
                                    <div class="col">
                                        <label for="comprimento">Comprimento</label>
                                        <input class="form-control" type="number" name="comprimento" id="comprimento">
                                    </div>
                                    <div class="col">
                                        <label for="largura">Largura</label>
                                        <input class="form-control" type="number" name="largura" id="largura">
                                    </div>
                                    <div class="col">
                                        <label for="altura">Altura</label>
                                        <input class="form-control" type="number" name="altura" id="altura">
                                    </div>
                                    <div class="col">
                                        <label for="peso">Peso</label>
                                        <input class="form-control" type="number" name="peso" id="peso">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="tam-prod">Medidas do Pacote</label>
                                <div class="row">
                                    <div class="col">
                                        <label for="comprimento">Comprimento</label>
                                        <input class="form-control" type="number" name="comprimento" id="comprimento">
                                    </div>
                                    <div class="col">
                                        <label for="largura">Largura</label>
                                        <input class="form-control" type="number" name="largura" id="largura">
                                    </div>
                                    <div class="col">
                                        <label for="altura">Altura</label>
                                        <input class="form-control" type="number" name="altura" id="altura">
                                    </div>
                                    <div class="col">
                                        <label for="peso">Peso</label>
                                        <input class="form-control" type="number" name="peso" id="peso">
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5 mb-5" id="app">
                <div class="card">
                    <div class="card-header">
                        Cadastrar respostas automáticas
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="key_word">Palavras Chave:</label>
                            <input class="form-control" placeholder="Digite as palavras separadas por espaços" type="text" name="key_word" id="key_word" v-model="palavras_chave">
                        </div>
                        <div class="form-group">
                            <label for="answer">Resposta Automática:</label>
                            <input class="form-control" type="text" name="answer" id="answer" v-model="resposta_automatica">
                        </div>
                        <button @click="adicionar_resposta_automatica()">Adicionar</button>
                        <hr>
                        <ul v-for="r in arr_respostas">
                            <li>Palavras-chave: {{r.palavras_chave.join(' ')}}</li>
                            <li>Resposta: {{r.resposta}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js" charset="utf-8"></script>
</body>