<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olist Project :: MegaHack 2.0</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="robots" content="noindex,follow" />

</head>

<body>
    <main class="container" id="app">
        <h1 class="text-center">MegaHack 2.0 - Desafio Olist - Grupo 58</h1>
        <div class="row">
            <div class="col pt-5">
                <div class="card">
                    <div class="card-header">
                        Cadastro do Produto
                    </div>
                    <div class="card-body">
                        <form action="#" class="produto">
                            <div class="form-group">
                                <label for="title">Título</label>
                                <input type="text" class="form-control" v-model="produto.titulo" placeholder="Informe o Titulo aqui">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="description">Descrição</label>
                                <textarea class="form-control" v-model="produto.descricao" rows="3"></textarea>
                            </div>
                            <hr>
                            <div class="form-group div-images">
                                <label for="images">Enviar Imagens</label>
                                <input @change="upload_imagem" accept="image/*" type="file" title="Escolher Imagens" >

                                <div class="form-group" v-for="(img, index) in produto.imagens">
                                    <img class="pl-2" :src="img" width="70" height="50">
                                    <input @click="remover_imagem(index)" type="button" class="btn btn-danger float-right pr-2" value="Remover">
                                    <hr>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="category">Categoria</label>
                                <select class="form-control" name="category" v-model="produto.categoria">
                                    <option value="smatphone">Smartphone</option>
                                    <option value="roupas">Roupas</option>
                                </select>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="caracteristics">Características</label>
                                <button class="btn btn-success add-row" @click="adicionar_caracteristica()"><i class="fa fa-plus"></i></button>
                                <br><br>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Atributo</th>
                                            <th>Valor</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="c in produto.caracteristicas">
                                            <td><input class="form-control" type="text" v-bind:readonly="c.readonly" v-model="c.chave" ></td>
                                            <td><input class="form-control" type="text" v-model="c.valor"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="tam-prod">Medidas do Produto</label>
                                <div class="row">
                                    <div class="col">
                                        <label for="comprimento">Comprimento</label>
                                        <input class="form-control" type="number" v-model="produto.medidas_produto.comprimento">
                                    </div>
                                    <div class="col">
                                        <label for="largura">Largura</label>
                                        <input class="form-control" type="number" v-model="produto.medidas_produto.largura">
                                    </div>
                                    <div class="col">
                                        <label for="altura">Altura</label>
                                        <input class="form-control" type="number" v-model="produto.medidas_produto.altura">
                                    </div>
                                    <div class="col">
                                        <label for="peso">Peso</label>
                                        <input class="form-control" type="number" v-model="produto.medidas_produto.peso">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="tam-prod">Medidas do Pacote</label>
                                <div class="row">
                                    <div class="col">
                                        <label for="comprimento">Comprimento</label>
                                        <input class="form-control" type="number" v-model="produto.medidas_pacote.comprimento">
                                    </div>
                                    <div class="col">
                                        <label for="largura">Largura</label>
                                        <input class="form-control" type="number" v-model="produto.medidas_pacote.largura">
                                    </div>
                                    <div class="col">
                                        <label for="altura">Altura</label>
                                        <input class="form-control" type="number" v-model="produto.medidas_pacote.altura">
                                    </div>
                                    <div class="col">
                                        <label for="peso">Peso</label>
                                        <input class="form-control" type="number" v-model="produto.medidas_pacote.peso">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="category">Preço</label>
                                <input type="number" class="form-control" v-model="produto.preco" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pt-5 mb-5">
                <div class="card">
                    <div class="card-header">
                        Cadastro de Respostas Automáticas
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="key_word">Palavras Chave:</label>
                            <input class="form-control" placeholder="Digite as palavras separadas por espaços" type="text" v-model="palavras_chave">
                        </div>
                        <div class="form-group">
                            <label for="answer">Resposta Automática:</label>
                            <input class="form-control" type="text" v-model="resposta_automatica">
                        </div>
                        <button class="btn btn-success" @click="adicionar_resposta_automatica()">Adicionar</button>
                        <hr>
                        <h5>Respostas Cadastradas</h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Palavras-chave</th>
                                    <th>Resposta</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Características do Produto</td>
                                    <td>Olá, Tudo bem? Muito obrigado por ter entrado em contato com a gente! Sua pergunta pode ajudar outros
                                        clientes, por isso, atualizamos o cadastro e colocamos a sua resposta na descrição do produto.
                                        Se tiver mais alguma dúvida, estamos à disposição!
                                    </td>
                                    <td></td>
                                </tr>
                                <tr v-for="(r, index) in produto.respostas_automaticas">
                                    <td>{{r.palavras_chave.join(' ')}}</td>
                                    <td>{{r.resposta_automatica}}</td>
                                    <td><button class="btn btn-danger" @click="remove_resposta_automatica(index)"><i class="fa fa-trash"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-success" v-show="msg_sucesso">
            Os dados foram salvos com sucesso!
        </div>
        <div class="row mb-5">
            <div class="col text-center">
                <button class="btn btn-success btn-lg" @click="salvar()">Salvar</button>
            </div>
        </div>
        <div class="alert alert-primary" >
            <a href="produto.html">Ver produto</a>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js" charset="utf-8"></script>
</body>