<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olist Project :: MegaHack 2.0</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

</head>

<body>
    <div id="app">
        <div class="row">
            <div class="col">
                <main class="container">

                    <!-- Left Column / Headphones Image -->
                    <div class="left-column mt-5">
                        <img active v-for="img in produto.imagens" :src="img" alt="">
                    </div>

                    <!-- Right Column -->
                    <div class="right-column">

                        <!-- Product Description -->
                        <div class="product-description">
                            <span>{{ produto.categoria }}</span>
                            <h4>{{ produto.titulo }}</h4>
                            <hr>
                            <p class="text-justify">{{ produto.descricao }}</p>
                        </div>

                        <!-- Product Configuration -->
                        <div class="product-configuration">

                            <!-- Product Color -->
                            <div class="product-caracteristics">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="text-center">
                                            <th colspan="2">Características</th>
                                        </tr>
                                    </thead>
                                    <tr v-for="c in produto.caracteristicas">
                                        <td>{{c.chave}}</td>
                                        <td>{{c.valor}}</td>
                                    </tr>
                                </table>

                            </div>

                            <!-- Cable Configuration -->
                            <div class="cable-config">
                                <a href="#">Manual de configuração</a>
                            </div>
                        </div>

                        <!-- Product Pricing -->
                        <div class="product-price">
                            <span>R$ {{produto.preco}}</span>
                            <a href="#" class="cart-btn">Comprar</a>
                        </div>
                    </div>
                </main>
                <div style="position: absolute; top: 60%; text-center" class="row">
                    <div class="col-sm-2 ml-5" v-for="img in produto.imagens">
                        <img :src="img" class="ml-2" alt="" width="100">
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col p-2 ml-5">
                <label for="pergunta">Faça sua pergunta abaixo:</label>
                <textarea cols="15" placeholder="Escreva sua pergunta aqui" class="form-control" v-model="pergunta"></textarea>
            </div>
            <div class="col p-5">
                <button @click="verificar_pergunta()" class="btn btn-primary">Enviar Pergunta</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col pl-5 respostas">
                <h4 class="p-2">Últimas perguntas:</h4>
                <div v-for="p in perguntas.slice().reverse()" class="mb-3">
                    <b>Pergunta:</b> {{p.pergunta}}<br><i class="pl-5"> <b>Resposta:</b></i> {{p.resposta}}
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js" charset="utf-8"></script>
</body>

</html>